.adopted-pets-table {
  padding: 20px;
  margin: 20px;
}

.adopted-pets-table h2 {
  margin-bottom: 20px;
}

.adopted-pets-table table {
  width: 100%;
  border-collapse: collapse;
}

.adopted-pets-table th,
.adopted-pets-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.adopted-pets-table th {
  background-color: #f2f2f2;
  text-align: center;
}
.pet-details-img {
  text-align: center;
  display: inline;
  justify-content: center;
  width: 100px; /* Adjust the width as needed */
  height: auto;
  border-radius: 4px; /* Optional: adds rounded corners to the image */
}

