.petssliderslick-dots li {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 100%;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
  
}
.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
position: relative;
    right: 124px;

}

.slick-list {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 570px;
}


/* Apply opacity to all thumbnails */
.petssliderslick-thumb a img {
       opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    width: 89px;
    height: 93px;
    position: relative;
    left: 52px;


}
  
  .petssliderslick-thumb .slick-active img {
    opacity: 1;
  }
  
  .petssliderslick-dots {
    position: relative;
    display: block;
    top: 0px;
    display: flex;
    gap: 24px;    
    left: 6%;
}

.slick-slide img {
    width: 570px;
    height: 392px;
    border-radius: 7px;
}








/* Custom styles for slider */
.petssliderslick-dots li {
    height: 100%;
    margin: 0 5px;
}

.relative {
    position: relative;
    width: 100%;
}
