.doctor-list {
  padding: 20px 108px;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 25px;
}

.doctor-list-name {
  font-size: 26px;
  color: rgba(12, 12, 12, 1);
  font-weight: 700;
  text-align: center;
  /* margin-top: 36px; */
  margin-bottom: 43px;

  text-transform: uppercase;
}

.doctor-list-name span {
  background: linear-gradient(135deg, #6A5ACD, #2f1746); /* Adjust gradient colors as needed */
  -webkit-background-clip: text; /* For WebKit-based browsers (e.g., Chrome, Safari) */
  -webkit-text-fill-color: transparent; /* For WebKit-based browsers */
  background-clip: text; /* For other browsers */
  color: transparent;
}

.doctor-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  /* justify-content: center; */
  width: 95%;
  justify-content: flex-start;
}
.doctor-card {
  flex: 1 1 calc(33.333% - 20px); /* 3 cards per row */
  max-width: 300px; /* Ensures cards don’t exceed max width */
  box-sizing: border-box; /* Includes padding and border in width */
}

@media (max-width: 1200px) {
  .doctor-card {
    flex: 1 1 calc(33.333% - 20px); /* Maintain 3 cards per row on screens < 1200px */
  }
}

@media (max-width: 800px) {
  .doctor-card {
    flex: 1 1 calc(50% - 20px); /* 2 cards per row on screens < 800px */
  }
}

@media (max-width: 500px) {
  .doctor-list {
    padding: 0 10px;
  }

  .doctor-card {
    flex: 1 1 100%; /* 1 card per row on screens < 500px */
  }
}

.Gender {
  width: 20em;
}

.div_name_location {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
