.doctor-card {
  flex: 1 1 calc(33.333% - 20px);
  max-width: 300px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;

}

.doctor-card-header {
  height: 200px;
}

.doctor-card-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
   /* Ensures the image covers the entire header */
}

.doctor-card-body {
  padding: 15px; /* Reduced padding */
}

.doctor-card-name {
  font-family: 'Arial', sans-serif;
  font-size: 20px; /* Reduced font size */
  color: #675bc8; /* Indigo */
  margin: 0;
  text-transform: capitalize;
}

.div_name_location {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.doctor-address {
  font-family: 'Arial', sans-serif;
  font-size: 12px; /* Reduced font size */
  margin: 5px 0;
  color: #0A453A;
  text-transform: capitalize;
}

.doctor-card-info {
  display: flex;
  flex-direction: column;
  margin-top: 8px; /* Reduced margin */
  font-weight: 600;
}

.info-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Arial', sans-serif;
  align-items: center;
}

.title_doctorcard {
  font-family: 'Arial', sans-serif;
  color: #535353;
  margin: 5px 0;
}

.doctorcard-item {
  font-size: 15px;
  background-color: #EAE8F7;
  color: #2E256F;
  padding: 4px 8px;
  border-radius: 10%;
}

.more-info-btn {
  padding: 8px 16px; /* Reduced padding */
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-top: 15px; /* Reduced margin */
  font-size: 16px; /* Reduced font size */
  border: 1px solid #675bc8;
  background-color: #fff;
  color: #675bc8;
  font-family: 'Arial', sans-serif;
}

.more-info-btn:hover {
  background-color: #696299; /* DarkSlateBlue */
  color: white;
}

