*{
  margin: 0;
  padding: 0;
}


.doctor-more-info-container .moreinfo_doctor{
  font-weight: 400;
  margin-left: 10px;
  text-transform: capitalize;
}

.doctorMoreInfoContainer {

  padding: 20px;
  border-radius: 10px;
  width: 50px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  
 
  
}

.doctor-more-info-container .doctor-details {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  justify-content: center;
  margin-left: 18%;
  margin-top: 30px;
  margin-bottom: 40px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}


.doctorpic {
  flex: 1;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
 
}

.doctor-more-info-container .doctor-info {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  flex-direction: column;


}

.doctor-more-info-container .doctorinfo {
  flex:1;
  padding: 20px;
  border-left: solid 2px #dbdbdb;
}

.doctor-info .doctor-name-doctormoreinfo {
  font-size: 26px;
  font-weight: bold;
  color: #675bc8;
  margin-bottom: 10px;
  
}

.doctor-more-info-container .doctor-location,
.doctor-contact,
.doctor-address,
.doctor-education,
.doctor-description,
.doctor-clinic,
.doctor-specialisation,
.doctor-home-visiting,
.doctor-experience {
  font-size: 16px;
  margin: 5px 0;
}

.doctor-more-info-container .doctorContact strong,
.doctorAddress strong,
.doctorEducation strong,
.doctorDescription strong,
.doctorClinic strong,
.doctorSpecialisation strong,
.doctorHomeVisiting strong,
.doctorExperience strong {
  color: #000;
}

.doctor-more-info-container .button-group {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}


.doctor-more-info-container .contact-doctor-btn,
.doctor-btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  width: 50%;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #675bc8;
  background-color: #fff; 
  color: #675bc8;
}

.doctor-more-info-container .contact-doctor-btn:hover{
  background-color: #675bc8;
  color: white;
}

.doctor-more-info-container .doctor-btn:hover{
  background-color: #675bc8;
  color: white;
}







.doctor-more-info-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.doctor-more-info-container .doctor-details {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 2em;
}
.doctor-more-info-container .doctor-pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.doctor-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  line-height: 25px;
}
.doctor-info h2, 
.doctor-info p {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.doctor-info p strong {
  font-weight: bold;
}

.button-group-doctormoreinfo {
  width: 100%;
  display: flex;
  gap: 20px;
}


