.form-wrapper {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.updatebtn {
    text-align: center;
}

.ant-modal-header {
    display: flex;
    align-items: center;
    margin-left: 200px;
    font-size: 20px;
}


.ant-input {
    height: 40px;
    align-items: center;

}

.ant-modal .ant-modal-title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    word-wrap: break-word;
    color: blueviolet;
 }