@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.pet-detail-page {
  font-family: Arial, sans-serif;
  color: #333;
}

.pet-detail-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding :50px 0;
}

.pet-detail-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;

}

.pet-images {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pet-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-pet-image {
  width: 90%;
  max-width: 600px; 
  height: auto;
  border-radius: 8px;
}



.pet-name {
  font-size: 1.8em;
  color:#2E256F;
}

.pet-location {
  color: #0A453A;
  font-size: 1.1em;
}

.pet-description {
  font-size: 1em;
}

.pet-specifications {
  font-size: 1em;
  width: 80%;
}

.add-to-cart {
  display: inline-block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  width: 30%;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #675bc8;
  background-color: #fff; 
  color: #675bc8;
}

.add-to-cart:hover {
  background-color: #675bc8;
  color: white ;
}

.goback-button {
  display: inline-block;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 20px;
  text-align: center;
  width: 30%;
  margin-top: 10px;
  font-size: 16px;
  border: 1px solid #675bc8;
  background-color: #fff; 
  color: #675bc8;
}

.back-button:hover {
  background-color: #675bc8;
  color: white ;
}




.div_name {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #675bc8;
}
.pet-details {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}


.btn_for_message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}
.pet-card-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  }


  input[type="checkbox"] {
    margin-right: 10px; 
    font-family: 'inter';
  }



/*  form css  */


.lostpetform select {

  background-color: white;
  border: 1px solid rgba(96, 96, 96, 1);


}

*{
  font-family: Inter;
}


.lostpetform  input{

  height: 40px;
  width: 400px;
  border: 1px solid rgba(96, 96, 96, 1);
  border-radius: 8px;
  padding: 8px;
}  
.lostpetform  .fileInput{

  height: 40px;
  width: 400px;
  border: none;
}

.lostpetform  input::placeholder{
  color: rgba(96, 96, 96, 1);
  line-height: 16px;
  font-weight: 400;
  font-size: 16px;
}

.lostpetform  textarea::placeholder{
  color: rgba(96, 96, 96, 1);
  line-height: 60px;
  font-weight: 400;
  font-size: 16px;
}

.lostpetform  label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 188px;
  height: 24px;
  color: rgba(12, 12, 12, 1);
}


.lostpetform span{
  
color: rgba(195, 0, 0, 1);
margin-left: 5px;
}


.lostpetform textarea {
  height: 86px;
  border: 1px solid rgba(96, 96, 96, 1);
  border-radius: 8px;
  padding: 8px;
}

.lostpetform h2  {  
  font-size: 32px;
  color: rgba(12, 12, 12, 1);
  font-weight: 500;
  text-align: center;
  margin-top: 36px;
}


.lostpetform .lostformsubmitbtn {
  width: 184px;
  height: 40px;
  background-color: rgba(103, 91, 200, 1);
  border-radius: 8px;
  padding: 8px, 16px, 8px, 16px;
  color: rgba(255, 255, 255, 1);
  size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 40%;
  margin-top: 10px;
 
}
