

.Breadcrumbs {
  
  background-color: blueviolet;
 

}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-left: 100px;
  flex-wrap: wrap;
  list-style: none;
  color: white;
  font-size: 15px;
  height: 40px;
  /* background-color: blueviolet; */

}

.breadcrumb-item {
  margin-right: 5px;
}

.breadcrumb a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  padding: 0 4px;
  border-radius: 4px;
}

.breadcrumb a:react-tabhover {
  color: rgb(118, 250, 228);
}

.breadcrumb-item {
  color: white; 
}

.breadcrumb-item.current-page {
  color: red !important; 
  font-weight: bold;
}

.breadcrumb-icon {
  margin: 0 8px;
  color: white; 
  font-size: 14px;
}
  
