
.Breadcrumbs{
    background-color: blueviolet;
}
.breadcrumb {
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 100px;
    flex-wrap: wrap;
    padding: 10px;
    list-style: none;
    color: white;
    font-size: 15px;
    background-color: blueviolet;


  }
  
  .breadcrumb-item {
    margin-right: 5px;
  }

  .breadcrumb a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;
    padding: 0 4px;
    border-radius: 4px;
  }

  .breadcrumb a:hover {
    color: rgb(118, 250, 228);
  }
  