.slick-dots li {
    position: relative;
    display: inline-block;
    width: 92px;
    height: 100%;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 570px;
}

/* Ensure single image alignment */
.slider-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-image {
    width: 570px;
    height: auto;
    max-height: 392px;
    border-radius: 16px;
    object-fit: cover;
}

.slick-dots {
    position: absolute;
    bottom: -65px;
    display: block;
    width: 100%;
    padding: 0 16px;
    margin: 0;
    list-style: none;
    text-align: start;
    height: 60px;
    display: flex;
    gap: 19px;
}

/* Apply opacity to all thumbnails */
.slick-thumb a img {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
}

/* Remove opacity for the active thumbnail */
.slick-thumb .slick-active img {
    opacity: 1; /* Full opacity for the active thumbnail */
}

/* Custom styles for slider */
.slick-dots li {
    height: 100%;
    margin: 0 5px;
}

.relative {
    position: relative;
    width: 100%;
}
