.petsmores {
    border: 1px solid #675BC8;
    color: #675BC8;
    width: 10%;
    font-weight: 500;
    height: 44px;
    border-radius: 5px;
}

.Rehome .mores-info {
    display: flex;
    justify-content: center;
    padding: 3%;
    align-items: center;
}

.Rehome {
    position: relative;
    left: 25px;
}

.threeCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlapcard {
    width: 75%;
      padding: 76px 0px 40px 60px;
}

