.more-info .more{
   border: 1px solid #675BC8;
   color:#675BC8 ;
   width: 10%;
   font-weight: 500;
   height: 44px;
   margin-bottom: 5%;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.more-info{
display:flex;
justify-content: center;
padding: 2%;

}
.Rehome {
    position: relative;
    bottom: 200px;
}