.mores-info .mores{
   border: 1px solid #675BC8;
   color:#675BC8 ;
   width: 10%;
   font-weight: 500;
   height: 44px;
   margin-bottom: 5%;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.mores-info{
      display: flex;
    justify-content: center;
    padding: 2%;
    position: relative;
    top: 58px;

}
.Rehome {
    margin-bottom: 46px;
}

.threeCard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 75px;
}
.overlapcard {
    width: 75%;
}
.mores:hover {
background-color: #696299; 
color: white ;

}