:root {
    --primary-color: #004d40;
    --secondary-color: #5c6bc0;
    --text-color: #333;
    --text-secondary-color: #666;
    --text-description-color: #555;
    --background-color: #f0f0f0;
    --border-color: #ccc;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --font-family: 'Arial, sans-serif';
  }
  
  body {
    font-family: var(--font-family);
  }
  
  .pet-list-container-sub {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
  
  .pet-card {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .pet-card-header {
    background-color: var(--background-color);
    padding: 10px;
  }
  
  .pet-card-image {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
  }
  
  .pet-card-body {
    padding: 15px;
  }
  
  .pet-card-name {
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--text-color);
  }
  
  .pet-card-location {
    font-size: 0.9rem;
    color: var(--text-secondary-color);
  }
  
  .pet-card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .pet-card-info p {
    margin: 5px 0;
  }
  
  .pet-card-description {
    margin-top: 10px;
    font-size: 0.9rem;
    color: var(--text-description-color);
  }
  
  .pet-list-name  {
    font-size: 36px;
    color: var(--primary-color);
  }
  
  .pet-list-name  span {
    color: var(--secondary-color);
  }
  
  h1.pet-list-name {
    text-align: center;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 500px) {
    .pet-card {
      width: 100%;
    }
    .pet-list-container-sub {
      flex-direction: column;
  }
  
  }
  