:root {
  --primary-color: #004d40;
  --secondary-color: #5c6bc0;
  --text-color: #333;
  --text-secondary-color: #666;
  --text-description-color: #555;
  --background-color: #f0f0f0;
  --border-color: #ccc;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --font-family: 'Arial, sans-serif';
}

body {
  font-family: var(--font-family);
}

/* section.Peaceful {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color);
} */

section.Peaceful {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0 108px;
}

.Peaceful_div_main {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  /* width: 90%; */
}

.Peaceful_imge_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

.Peaceful_image1, .Peaceful_image2 {
  margin: 0 10px;
}

.Peaceful_image {
  max-width: 100%;
  height: auto;
}

.Peaceful_cont_div {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 2px 4px var(--box-shadow-color);
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.card-header {
  background-color: var(--background-color);
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-image {
  width: 50px;
  height: auto;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  margin-top: 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

.card-description {
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--text-description-color);
}

@media (max-width: 500px) {
  .Peaceful_div_main {
    flex-direction: column;
    flex-direction: column;

  }
  .Peaceful_cont_div {
    flex-wrap: wrap;
  }
  .pet-list {
    padding: 0 10px;
    margin: 0 auto;
}

}

@media (min-width: 1440px) {
  .Peaceful_div_main, .Peaceful_imge_div, .Peaceful_cont_div {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Peaceful_div_main {
    max-width: 1440px;
    margin: 0 auto;
}
}
