.request-container {
  padding: 20px;
  width: 100%;
}

.toggle-buttons {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.toggle-button {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  color: #aaa; 
  font-weight: bold;
  /* transition: color 0.3s, border-bottom 0.3s; */
  position: relative;
}

.toggle-button.active {
  color: #000; 
  border-bottom: 4px solid #007bff; 
}

.toggle-button.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 4px;
  background-color: #007bff;
}

.togglecontent {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 5px;
  background-color: white;
}

.mypets-content,
.request-content ,
.adopt-content{
  display: block;
}

.petsandrequest {
  background-color: #EFF0F4;
  padding: 20px;
  border-radius: 5px;
}
