.img-content {
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-content h2 {
      font-size: 25px;
    /* margin-bottom: 10px; */
    width: 105%;
    font-weight: 800;
}

.img-content p {
   font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
.buttons{
     display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}
.buttons button{
    background-color: #675BC8;
    color: #fff;
    padding:10px;
    border-radius: 7px;
    border: none;
} 


.parentContainer img {
    height: 100%;
    width: 100%;
}

.parentContainer {
    position: relative;
    text-align: center;
    color: white;
    height: 72vh; 
    overflow: hidden;
    }

