.img-content {
    position: absolute;
    top: 50%;
    left: 26%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-content h2 {
    font-size: 25px;
    width: 105%;
    font-weight: 900;
}

.img-content p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 800;
    width: 68%;
    position: relative;
    left: 173px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 2%;
    padding-top: 1%;
    justify-content: center;
}

.buttons .now {
    background-color: #675BC8;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    border: none;
}

button.rehome {
    position: relative;
    top: 10px;
    right: 80px;
}


.parentContainer img {
    height: 128%;
    width: 100%;
}

.parentContainer {
    position: relative;
    text-align: center;
    color: white;
    height: 83vh;
    overflow: hidden;
}