:root {
  --background-color: #f8f9fa;
  --primary-color: #5c6bc0;
  --secondary-color: #004d40;
  --link-color: #5c6bc0;
  --footer-bg-color: #673ab7;
  --footer-text-color: white;
  --border-color: #ccc;
}

.footer {
  background: var(--background-color);
  padding-top: 25px;

}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 0 108px;
  padding-top: 20px;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-column h3 {
  color: var(--secondary-color);
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 10px 0;
  color: var(--link-color);
}

.footer-column ul li a {
  text-decoration: none;
  color: inherit;
}

.footer-column ul li i {
  margin-right: 10px;
}

.subscribe-form {
  display: flex;
}

.subscribe-form input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
}

.subscribe-form button {
  padding: 10px;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 108px;
  background: var(--footer-bg-color);
  color: var(--footer-text-color);
  
}

.social-icons a {
  color: var(--footer-text-color);
  margin: 0 10px;
  font-size: 20px;
}
.div_sub_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 1240px;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 20px 0;
  }

  .footer-bottom {
    flex-direction: column;
    text-align:center;

  }

  .social-icons {
    margin-top: 10px;
  }
}

@media (min-width: 1440px) {
  @media (min-width: 1440px) {

        .footer-container {
            justify-content: center;
            align-items: center;
            max-width: 1440px;
            margin: 0 auto;
        }
    }

  .footer-bottom {
    justify-content: center;
    text-align: center;

  }

  .footer-column {
    margin: 0 20px;
  }
}


.div_sub_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 1240px;
  flex-direction:column-reverse;
  gap: 1em;
}

.footer-bottom {
  padding: 15px 108px;
}