:root {
  --main-color: #4b0082;
}

section.header_nav {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 4em;
}

.header_main {
  margin: 0 auto;
  padding: 0 108px;
  max-width: 1440px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  color: var(--main-color);
}

.nav-links a {
  text-decoration: none;
  color: var(--main-color);
}

.user-section {
  display: flex;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  flex-direction: row-reverse;
  gap: 0.9em;
}

.user-profile img,
.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  display: none;
  z-index: 50;
  width: 12em;
}

.menu_profile{
  width: auto;
}

.dropdown-menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--main-color);
  white-space: nowrap;
  text-align: center;
}

.dropdown-menu a.menu {
  text-align: left;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

.user-profile:hover .dropdown-menu {
  display: block;
}

.nav-links_mobile {
  display: none;
}

button.signup {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 16px;
  border: 1px solid #675bc8;
  background-color: #fff;
  color: #675bc8;
}

button.signup:hover {
  background-color: #675bc8;
  color: #fff;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  
  .nav-links_mobile {
    display: block;
  }
  
  .logo {
    display: none;
  }
  
  .dropdown-menu {
    width: 10em;
  }
  
  .header_main {
    padding: 0 50px;
  }
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}


.profile_name{
  text-transform:capitalize;
}

/* 
.ant-modal-header {
  display: contents;
} */

