.profile-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 2.5em;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
/* .profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
} */

/* .profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 1em;
} */

.profile-header {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  flex-direction: row;
}



.profile-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info h2 {
  margin: 0;
  font-size: 24px;
}

.profile-info p {
  margin: 5px 0 0;
  color: #888;
}

/* .profile-details {
  margin-top: 20px;
} */

.profile-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile-column {
  flex: 1;
  margin-right: 10px;
}

.profile-column:last-child {
  margin-right: 0;
}

.profile-column label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.profile-column p {
  margin: 0;
  color: #555;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-column input[type="text"],
.profile-column input[type="password"] {
  width: 100%; /* Set width to 100% */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #5c6bc0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.edit-button:hover {
  background: #3f51b5;
}

.save-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.save-button:hover {
  background: #388e3c;
}

.profile-close {
  float: right;
  cursor: pointer;
}

.password-input {
  width: 100%; /* Set width to 100% */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
@media (max-width: 500px) {
  .profile-header {
    flex-direction: column;
    gap: 1em; /* Adds gap between items */
    align-items: center; /* Centers items horizontally */
  }
}
