.Register_section {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.div_register_main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}
.div_register_image {
  width: 50%; /* Adjust width as needed */
  display: flex;
  justify-content: center;
}

.div_main_form {
  width: 50%; /* Adjust width as needed */
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}

.min_reg_sub {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 1em; */
}

.div_user_email_password_regester {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
}

.div_user_reg, .div_email_reg, .div_password_reg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.heading_name {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.div_button_reg {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div_reg_btn{
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
}

.register-form-button{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #675bc8;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  box-sizing: border-box;
}

.register-form-button:hover {
  background-color: #5745b3;
}


.div_link_reg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}



.input-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.heading_name_reg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.google-login-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div_button_reg_sub {
  display: flex;
  justify-content: center;
  flex-direction: column;
}