/* Import Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

/* Set root color variable */
:root {
  --main-color: #4b0082; /* Example color */
}

/* Global styles */
body {
  font-family: 'Inter', sans-serif; /* Apply Inter font to entire body */
}

/* RegisterForm specific styles */
section.Register_section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form-container {
  display: flex;
  background: #f0f2f5;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.register_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.register-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register-image img {
  max-width: 100%;
  border-radius: 10px;
}

.register-form h2 {
  margin-bottom: 20px;
}

.register-form-button {
  background-color: #6200ea;
  margin: 0;
  width: 50%;
}

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-login p {
  margin-bottom: 10px;
}

.social-login button {
  margin: 0 10px;
}

/* Customize antd input wrapper */
:where(.css-dev-only-do-not-override-98ntnt).ant-input-affix-wrapper {
  border: 2px solid rgba(163, 163, 163, 0.733);
}
p {
  margin:unset;
}

.div_from_sub {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div_account_already {
  text-align: center;
}
/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .register-form-container {
    flex-direction: column;
  }

  .register-image {
    display: none;
  }
}

.close_btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}



