@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.loca .location {
  width: 16px;
  height: 16px;
}

.Hostelcard-container {
  width: 310px;
  height: 470px;
  gap: 0px;
  border-radius: 16px;
  border: 1px solid #c3c3c3;
  opacity: 0px;
}

.cardimg {
    width: 100%;
}
.hoscardimg .img {
  /* width: 286px; */
  height: 168px;
  border-radius: 10px 10px 0 0;
}

.commonData {
  /* padding: 16px 0px; */
  height: 300px;
}

.namelocation {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* position: relative; */
    height: 100px;
    /* left: 16px; */
}

.locationdescript {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 240px;
}

.des {
    padding-left: 4%;
    height: 100px;
}

.datas {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.name {
  color: #2E256F;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.78px;
}

.loca {
  font-size: 14px;
  color: #66b366;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 44px;
}

/* .details {
  width: 100%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

.detail1 {
  display: flex;
  justify-content: space-between;
}

.detail2 {
  display: flex;
  gap: 75px;
}

span.rightSide {
  position: relative;
  left: 9px;
}

span.age {
  position: relative;
  left: 24px;
}

span#age {
  padding: 3px 16px;
  border-radius: 21px;
  position: relative;
  left: 22px;
}

.genders {
  width: 116px;
  height: 23px;
  display: flex;
}


.details p {
  font-size: 16px;
  font-weight: 500;
}

.details p span {
  font-size: 12px;
  background-color: #EAE8F7;
  color: #2E256F;
  padding: 2px;
  border-radius: 10%;
}

.cardimg {
  width: 286px;
  height: 168px;
  opacity: 0px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  /* margin-top: 10px; */
}

.hosbuttons-card {
  /* position: relative;
  top: 9px;
  left: 63px; */
  display: flex;
  justify-content: center;
}

.hosbuttons-card .mores {
  border: 1px solid #675BC8;
  color: #675BC8;
  width: 90%;
  font-weight: 500;
  height: 44px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Breedsname {
  display: flex;
  gap: 24px;
}

.mores:hover {
  background-color: #696299;
  color: white;
}

.detail1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Breedsname {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.genders,
.breed {
  display: inline-block;
  min-width: 48%;
}

.genders p,
.breed p {
  margin: 0;
  padding: 0;
}

.breed .right {
  display: inline-block;
  padding-left: 5px;
  color: #675BC8;
  background-color: #F5F5FF;
  border-radius: 5px;
}

.rightSide {
  display: inline-block;
  padding-left: 5px;
  color: #675BC8;
  background-color: #F5F5FF;
  border-radius: 5px;
}

.genders span,
.breed span {
  padding-left: 5px;
}






.phoneTime {
    display: flex;
    /* gap: 50px; */
    justify-content: space-around;
    height: 22px;
}

.phone {
    display: flex;
    gap: 4px;
}

.time {
    display: flex;
    /* align-items: center; */
    gap: 4px;
    justify-content: end;
}


.phoneTime span {
    color: #2E256F;
    background-color: #EAE8F7;
    padding: 3px;
    font-size: 12px;
    border-radius: 10%;
}


.phoneTime p {
    line-height: initial;
    font-size: 16px;
}

.phoneTime>* {
    width: 38%;
}