.tabless, .tabless tr, .tabless th, .tabless td {
    border: .5px solid #ccc;
}

/* grooming form css */
.custom-div{
    max-width: 64rem; /* max-w-4xl */
    margin-left: auto; /* mx-auto */
    margin-right: auto; /* mx-auto */
    padding: 2rem; /* p-8 */
    /* background-color: #f7fafc;  */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 1.25rem; /* mb-5 */
    margin-top: 1.25rem; /* mt-5 */
}
.custom-button {
    width: 30%; /* w-full */
    color: #ffffff; /* text-white */
    padding: 0.5rem 1rem; /* py-2 */
    border-radius: 0.5rem; /* rounded-lg */
    background-color: #6b21a8; /* bg-purple-600 */
    border: none; /* Tailwind has no border utility applied, but it's common for buttons */
    cursor: pointer; /* Optional: shows a pointer cursor on hover */
    font-size: 1rem; /* Optional: ensure the font size matches Tailwind default */
    margin-left: 34%;
    margin-top: 30px;
  }
  .custom-button:hover {
    opacity: 0.9; /* Optional: slight hover effect */
  }
  .custom-div span{
    color: red;
  }