/* src/components/Modal.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 80%;
  max-width: 515px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
}


.descedit textarea{
       width: 410px;
    height: 111px;

}

/* Modal container */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  width: 400px;
}

.modal h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}



/* Update button */
.editbtnpet {
 border: 1px solid #675BC8;
    color: #675BC8;
    width: 28%;
    font-weight: 500;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editbtnpet:hover {
  background-color: #675BC8;
  color: #fff;
}

/* Close modal button */
.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal .close:hover {
  color: #ff0000;
}


/* Modal title */
.modal-title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

/* Modal form styling */
.modal-form {
  display: flex;
  flex-direction: column;
}


.modal-label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.modal-input,
.modal-textarea {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.modal-textarea {
  height: 80px;
  resize: none;
}

.descedit {
  margin-top: 15px;
}

